{% extends "base.html" %}

{% block title %}
    NGS
{% endblock %}

{% block title-page %} - NGS{% endblock %}

{% block info-goal %}
    This module allows you to create a phylogenic tree based on a text file with various names of species. You can also
    get a fasta file of a protein sequence based on its GenBank ID. Finally you could analyze RNA-Seq Fastq files, apply
    trimmer, align reads to a genome and get a file with normalized gene expression in order to visualize it in the
    Metabolic module.
{% endblock %}

{% block info-authors %}
Jeremy BULLE - Elisabeth GUEUX<br>
Vincent CASAMAYOU - Alexia KUNTZ<br>
Elsa CLAUDE - Coralie MULLER
{% endblock %}
