{% extends "base.html" %}

{% block title %}
    NGS
{% endblock %}

{% block style %}
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a href="{% url "img_home" %}">Imagerie</a></li>
            <li class="activated"><a href="{% url "ngs_home" %}">NGS</a></li>
            <li><a href="{% url "mtb_home" %}">Métabolomique</a></li>
            <li><a href="{% url "prt_home" %}">Protéomique</a></li>
        </ul>
    </nav>


    <form enctype="multipart/form-data" action="" method="post">
     {% csrf_token %}
    <input type="file" name="fastq" multiple>
    <input type="submit" name="upload" value="Upload">
    </form>

{#    <form method="post" enctype="multipart/form-data">#}
{#      {% csrf_token %}#}
{#      <input type="file" name="fastq">#}
{#    </form>#}
{##}
{#    <form method="post" enctype="multipart/form-data">#}
{#      {% csrf_token %}#}
{#      <input type="file" name="fastq">#}
{#    </form>#}

    <form action="" method='post'>
     {% csrf_token %}
    <button type='submit' name="fastqc">Run fastqc on uploaded fastq files</button>
    </form>

    <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}

{% block content %}
{% endblock %}
