{% extends "ngs/base.html" %}

{% block content %}
    <form action="" method='post'>
     {% csrf_token %}
    <button type='submit' name="expression">Try expression genetic pipeline</button>
    </form>

    <form action="" method='post'>
    {%  csrf_token %}
    <button type='submit' name="phylogenie">Try phylogenetic pipeline</button>
    </form>

    <form action="" method='post'>
    {%  csrf_token %}
    <button type='submit' name="proteomique">Try proteomic pipeline</button>
    </form>
{% endblock %}
