{% extends "base.html" %}

{% block title %}
    Metabolomics
{% endblock %}

{% block title-page %} - Metabolomics{% endblock %}

{% block nav %}
    <nav id="navigation-bar">
        <ul>
            <li class="activated"><a href="{% url "mtb_home" %}">Metabolics Home</a></li>
            <li class="activated"><a href="{% url "mtb_ngs" %}">Load NGS data</a></li>
            <li class="activated"><a href="{% url "mtb_visu" %}">Visualize Gene Networks</a></li>
            <li class="activated"><a href="{% url "mtb_graph" %}">Visualize Pathways</a></li>
        </ul>
    </nav>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "metabo/metabo.css" %}">
{% endblock %}

{% block info-goal %}
    Research metabolic pathways, construct gene pathways and visualize your results
{% endblock %}

{% block info-authors %}
Charlotte ANDRE - Maxime LECOMTE<br>
Jean-Clement GAILLARDO - Kevin MERCHADOU<br>
Antoine LAPORTE - Yann PREVOT
{% endblock %}