{% extends "metabo/home.html" %}

{% block title %}
    Compute pathways
{% endblock %}

{% load static %}

{% block content %}
    <div class="cy" id="cy"></div>
    <script src="{% static "metabo/cytoscape.umd.js" %}"></script>

    <h1></h1>

    {# TODO #}
    <form class="box" id="geneID" name="geneID" enctype="multipart/form-data" method="post">
        <form action="{% url 'mtb_graph' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ gene_data_form }}
            <input type="submit" value="Submit gene(s)">
        </form>
    </form>

    <div class="menu-visu">
        <h1>Pathways<br>visualization</h1>
        <div class="selects" id="selects">
            <label for="pathway-select">Select a pathway :</label><br>
            <select name="pathway" id="pathway-select"
                    onchange="RXN_clear(document.getElementById('reaction-select'));RXN_list(dict_object,document.getElementById('pathway-select').value)">
            </select><br><br>

            <label for="reaction-select">Select a reaction :</label><br>
            <select name="reaction" id="reaction-select">
                <option value="test">test</option>
            </select><br><br>
        </div>

        <div class="buttons" id="button">
            <input type='button' id='btnVisu' value='Visualize'
                   onclick='create_meta_onePathway(dict_object[document.getElementById("pathway-select").value])'/>
        </div>
        <br>
        <div class="buttons" id="button2">
            <input type='button' id='btnSave' value='Save as JSON' onclick='saveFile();'/>
        </div>
        <br>
        <div class="buttons" id="button2">
            <input type="button"
                   onclick="selected_rxn(dict_object,document.getElementById('pathway-select').value,document.getElementById('reaction-select').value)"
                   value="Select reaction"/>
        </div>
    </div>



    <script>
        var gene_path = "{% static 'metabo/geneTMP.txt' %}";
        var networkGraph = ('{{ json_net | escapejs }}');

        var cy = cytoscape({
            container: document.getElementById('cy')
        });

        // Create gene visualization with .tab file
        function readFile(path_data) {
            cy.elements().remove();
            fetch(path_data)
                .then(response => {
                    if (response.ok) {
                        console.log("ok");
                        return response.text();
                    } else {
                        console.log("Invalid path");
                    }
                })
                .then(txt => parseFile(txt))
                .catch(err => console.log(err));
        }

        const parseFile = (text) => {
            var lines = text.split("\n");
            lines.reduce(parseLine, []);
            layout_graph("cose");
        };

        const parseLine = (accu, line, i) => {
            var key = line.substring(0, 4).trim();
            if (key === 'Var1') {
                console.log("it's a header");
            } else if (key !== 'Var1') {
                cutGENE(accu, line);
            }
        };

        const cutGENE = (accu, line) => {
            var cuts = [
                {
                    start: 0,
                    end: 9,
                    field: 'src_gene',
                    type: 'string'
                },
                {
                    start: 11,
                    end: 19,
                    field: 'trg_gene',
                    type: 'string'
                },
                {
                    start: 21,
                    end: 36,
                    field: 'corr_type',
                    type: 'string'
                }
            ];
            var obj = cuts.reduce((acc, cut) => {
                    acc[cut.field] = line.substring(cut.start - 1, cut.end);
                    return acc;
                },
                {});
            create_gene_visu(obj, line);
        };

        function check_id(id_node) {
            var check = true;
            if (cy.getElementById(id_node).selectable()) {
                check = false;
            }
            return check;
        }

        function create_gene_visu(obj, line) {
            var id_src = obj.src_gene;
            var id_trg = obj.trg_gene;
            var check_src = check_id(id_src);
            var check_trg = check_id(id_trg);

            if (check_src === true && id_src !== "") {
                src_node = cy.add({
                    group: 'nodes',
                    data: {id: obj.src_gene, name: obj.src_gene},
                    style: {label: obj.src_gene, 'text-valign': 'center'}
                });
            }
            if (check_trg === true && id_trg !== "") {
                trg_node = cy.add({
                    group: 'nodes',
                    data: {id: obj.trg_gene, name: obj.trg_gene},
                    style: {label: obj.trg_gene, 'text-valign': 'center'}
                });
            }

            node_style('red', 'rectangle', src_node);
            node_style('red', 'rectangle', trg_node);

            if (id_src !== "" && id_trg !== "") {
                edge = cy.add({
                    group: 'edges',
                    data: {
                        id: line,
                        source: obj.src_gene,
                        target: obj.trg_gene
                    },
                });
            }
            console.log(cy)
        }


        // Pre-process on metabolic data
        var list_object = [];
        var list_metabolite = [];
        var dict_object = {};
        var dict_react = {};
        var idx_pwy = 0;
        var idx_react = 0;
        var tmp = "";


        var networkCopy = networkGraph.split(' ');

        for (var i = 0; i < networkCopy.length; i++) {
            if (!/^[a-zA-Z]+$/.test(networkCopy[i])) {
                for (var j = 0; j < networkCopy[i].length; j++) {
                    if (/^[a-zA-Z0-9]+$/.test(networkCopy[i][j])) {
                        tmp += networkCopy[i][j];
                    }
                    if (networkCopy[i][j] === "-") {
                        tmp += networkCopy[i][j];
                    }
                    if (networkCopy[i][j] === "+") {
                        tmp += networkCopy[i][j];
                    }
                    if (networkCopy[i][j] === "(") {
                        tmp += networkCopy[i][j];
                    }
                    if (networkCopy[i][j] === ")") {
                        tmp += networkCopy[i][j];
                    }
                }
                if (tmp.length > 3) {
                    list_object.push(tmp);
                    tmp = "";
                }
                // list_object.push(tmp);
                tmp = "";
            }
        }

        for (var i = 0; i < list_object.length; i++) {
            if (list_object[i].includes('PWY')) {
                var key_pathway = list_object[i];
                idx_pwy += 1;
            }

            if (idx_pwy === 2) {
                dict_react[last_key_react] = list_metabolite;
                dict_object[last_key_pathway] = dict_react;
                dict_react = {};
                list_metabolite = [];
                idx_pwy = 1;
                idx_react = 1;
            }
            if (list_object[i].includes('RXN')) {
                var key_react = list_object[i];
                idx_react += 1;
            }
            if (idx_react === 2) {
                dict_react[last_key_react] = list_metabolite;
                list_metabolite = [];
                idx_react = 1;
            }
            if (list_object[i].indexOf('PWY') === -1 && list_object[i].indexOf('RXN') === -1) {
                list_metabolite.push(list_object[i]);
            }
            if (i === (list_object.length - 1)) {
                dict_react[last_key_react] = list_metabolite;
                dict_object[last_key_pathway] = dict_react;
            }
            var last_key_react = key_react;
            var last_key_pathway = key_pathway;
        }
        console.log(dict_object);


        function create_meta_onePathway(dict_object) {
            cy.elements().remove();
            var balise = "";
            var node_src = [];
            var node_trg = [];
            var label_edge = "";
            var larg = document.getElementById('cy').clientWidth;
            var pos_x = (document.getElementById('cy').clientWidth) / 2;
            var pos_y = 25;
            for (var key_rxn in dict_object) {
                for (var i = 0; i < dict_object[key_rxn].length; i++) {

                    var word = dict_object[key_rxn][i];
                    var check = check_id(word);
                    var check_in = check_id("input");
                    var check_out = check_id("output");
                    if (word === "reactif") {
                        balise = "react";
                    }
                    if (word === "produit") {
                        balise = "prod";
                    }
                    if (word === "enzyme" && dict_object[key_rxn][i + 1] !== "reactif") {
                        balise = "enzy";
                    }
                    if (word === "enzyme" && dict_object[key_rxn][i + 1] === "reactif") {
                        label_edge = key_rxn;
                    }
                    if (word === "cofactors") {
                        balise = "cofactor";
                    }
                    if (balise === "react" && word !== "reactif" && check === true && word !== "set()") {
                        var node = cy.add({
                            group: "nodes",
                            data: {id: word, name: word},
                            position: {x: pos_x, y: pos_y},
                            style: {label: word, 'text-valign': 'center'}
                        });
                        node_style("white", "rectangle", node);
                        node_src.push(node.id());
                        pos_x -= larg / 4;
                    }
                    if (balise === "react" && word === "set()" && check_in === true) {
                        var node = cy.add({
                            group: "nodes",
                            data: {id: "input", name: "input"},
                            position: {x: pos_x, y: pos_y},
                            style: {label: "input", 'text-valign': 'center'}
                        });
                        node_style("white", "rectangle", node);
                        node_src.push(node.id());
                        pos_x -= larg / 4;
                    }
                    if (balise === "react" && word !== "reactif" && check === false) {
                        node_src.push(cy.getElementById(word).id());
                    }
                    if (balise === "prod" && word !== "produit" && check === true && word !== "set()") {
                        var node = cy.add({
                            group: "nodes",
                            data: {id: word, name: word},
                            position: {x: pos_x + 100, y: pos_y + 50},
                            style: {label: word, 'text-valign': 'center'}
                        });
                        node_style("white", "rectangle", node);
                        node_trg.push(node.id());
                        pos_x += larg / 2.5;
                    }
                    if (balise === "prod" && word === "set()" && check_out === true) {
                        var node = cy.add({
                            group: "nodes",
                            data: {id: "output", name: "output"},
                            position: {x: pos_x + 100, y: pos_y + 50},
                            style: {label: "output", 'text-valign': 'center'}
                        });
                        node_style("white", "rectangle", node);
                        node_trg.push(node.id());
                        pos_x += larg / 2.5;
                    }
                    if (balise === "prod" && word !== "produit" && check === false) {
                        node_trg.push(cy.getElementById(word).id());
                    }
                    if (balise === "enzy" && word !== "enzyme" && check === true) {
                        label_edge = word;
                    }
                }
                if (node_src.length > 0) {
                    for (var i = 0; i < node_src.length; i++) {
                        for (var j = 0; j < node_trg.length; j++) {
                            var edge = cy.add({
                                group: 'edges',
                                data: {
                                    id: key_rxn + "react" + i + j,
                                    source: node_src[i],
                                    target: node_trg[j]
                                },
                                style: {label: label_edge, 'text-margin-y': 0}
                            });
                            edge_style("green", edge);
                        }
                    }
                    node_src = [];
                    node_trg = [];
                }
                pos_x = (document.getElementById('cy').clientWidth) / 2;
                pos_y += 250;
            }
            cy.fit();
        }

        // Return number of node implement for one line
        function switch_line() {
            page_Width = document.getElementById('cy').clientWidth;
            nb_xNodes = Math.floor(page_Width / 300);
            return nb_xNodes;
        }

        // Return number of total node in the div
        function max_line() {
            page_Height = document.getElementById('cy').clientHeight; //-> obtenir la hauteur de la page
            page_Width = document.getElementById('cy').clientWidth; //-> obtenir la largeur de la page
            nb_xNodes = Math.floor(page_Width / 300);
            nb_yNodes = Math.floor(page_Height / 300);
            return nb_xNodes * nb_yNodes;
        }

        // Modif edge style
        function edge_style(color, edge) {
            edge.style('line-color', color);
            edge.style('curve-style', 'bezier');
            edge.style('target-arrow-shape', 'triangle');
            edge.style('arrow-scale', 2);
            edge.style('target-arrow-color', color);
            edge.style('text-background-color', color);
        }

        // Modif node style
        function node_style(color, shape, node) {
            node.style('background-color', color);
            node.style('shape', shape);
            node.style('width', 100);
            node.style('width', 'label');
        }

        // Add layout on graph
        function layout_graph(name) {
            var layout = cy.elements().layout({
                name: name
            });
            layout.run();
        }

        // Return list of PWY
        function PWY_list(dict_object) {
            var select = document.getElementById("pathway-select");
            for (var key in dict_object) {
                var opt = document.createElement('option');
                opt.appendChild(document.createTextNode(key));
                opt.value = key;
                select.appendChild(opt);
            }
        }

        PWY_list(dict_object);

        function RXN_list(dict_object, pwy) {
            var select = document.getElementById("reaction-select");
            for (var react in dict_object[pwy]) {
                var opt = document.createElement('option');
                opt.appendChild(document.createTextNode(react));
                opt.value = react;
                select.appendChild(opt);
            }
        }

        function RXN_clear(select) {
            for (var i = 0; i <= 100; i++) {
                console.log(select.length);
                select.options[i] = null;
            }
        }

        function selected_rxn(dict_object, pwy, rxn) {
            for (var key in dict_object[pwy]) {
                for (var j = 0; j < dict_object[pwy][key].length; j++) {
                    if (cy.getElementById(dict_object[pwy][key][j]).selectable()) {
                        console.log(dict_object[pwy][key][j]);
                        var node = cy.getElementById(dict_object[pwy][key][j]);
                        node_style("white", "rectangle", node);
                    }
                }
            }
            for (var i = 0; i < dict_object[pwy][rxn].length; i++) {
                if (cy.getElementById(dict_object[pwy][rxn][i]).selectable()) {
                    var node = cy.getElementById(dict_object[pwy][rxn][i]);
                    node_style("red", "rectangle", node);
                }
            }
        }

        //Function to store what's to be saved in a variable
        function saveFile() {
            var data = cy.json(true);
            console.log(data)
            var data_to_save = [];
            for (i = 0; i < data.elements.length; i++) {
                data_to_save.push({
                    "data": data.elements[i].data
                    ,
                    "position": data.elements[i].position
                })
            }
            download(JSON.stringify(data_to_save), "cytoscape.json", "data:text/json;charset=utf8")
        }

        // Function to download data to a file
        function download(data, filename, type) {
            var file = new Blob([data], {"type": type});
            if (window.navigator.msSaveOrOpenBlob) // IE10+
                window.navigator.msSaveOrOpenBlob(file, filename);
            else { // Others
                var a = document.createElement("a"), url = URL.createObjectURL(file);
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                setTimeout(function () {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                }, 0);
            }
        }
    </script>


{% endblock %}
