<!---
ANDRÉ Charlotte
GALLARDO Jean Clément
LECOMTE Maxime
LAPORTE Antoine
MERCHADOU Kévin
PREVOT Yann
--->

{% extends "metabo/base.html" %}


{% block content %}
    <h2>Welcome in the Metabolic's section!</h2>
    <img class="centerimg"
         src="https://www.broadinstitute.org/files/styles/landing_page/public/landing-page/featured/image/Metabolomics_385x300.png?itok=U2x-xAcI"
         alt="Metabolics"></br>
    <div class="center">You are able to <a href="{% url "mtb_ngs" %}">load data files</a> and get representations of
        it's <a href="{% url "mtb_graph" %}">Gene network</a> or <a href="{% url "mtb_visu" %}">Pathways</a>.
    </div>
{% endblock %}