<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>"Load distant file"</title>
    <meta charset="utf-8" />
    <meta name="author" content="Théo GAUVRIT"/>

  </head>

  <body>
  <label for="xml">File To Parse => XML FORMAT:</label>
  <input id ="xml" type='file' placeholder="function of biocyc"/>
  <section id='display'></section>
  <!-- <script type="text/javascript" src="./parserGenePwy.js"></script> -->
  <script type="text/javascript" src="./parserPwyGene.js"></script>

  </body>

</html>
