<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>"Load distant file"</title>
    <meta charset="utf-8" />
    <meta name="author" content="Théo GAUVRIT"/>
    
  </head>

  <body>
  <label for="xml">functions + truc :</label>
  <input id ="xml" type='text' placeholder="function of biocyc"/>  
  <button id="ok">OK</button>
  <section id='display'></section>
  <script type="text/javascript" src="./parser_xml.js"></script>
  <script type="text/javascript" src="./loaddistant.js"></script>
  </body>

</html>