{% extends 'metabo/base.html' %}

{% block title %}
    Load NGS Data
{% endblock %}


{% block content %}

    <h1>Load NGS File</h1>

    <form class="box" id="jsonFile" name="jsonFile" enctype="multipart/form-data" method="post">
        <h2>Please load a file</h2>
        <form action="{% url 'mtb_ngs' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ngs_data_form }}
            <input type="submit" value="Submit">
        </form>
    </form>




{% endblock %}
