{% extends 'metabo/base.html' %}

{% block title %}
    Load NGS Data
{% endblock %}

{% block content %}
    <h1>Load NGS File</h1>

    <div class="box">
        <h2>Please load a file</h2>
        <form action="{% url 'mtb_ngs' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ngs_data_form }}
            <input class="button-input" type="submit" value="Submit">
            <button type="submit" value="'test" onclick="console.log(" Testtttt")">
        </form>
    </div>

{% endblock %}