{% extends "metabo/home.html" %}

{% block title %}
    Compute gene networks
{% endblock %}

{% block content %}
    {% load static %}
    <script src="{% static "metabo/visualize.js" %}"></script>
    <script src="{% static "metabo/cytoscape.umd.js" %}"></script>


    <form class="box" id="jsonFile" name="jsonFile" enctype="multipart/form-data" method="post">
        <h2>Compute a Gene Network from a JSON </h2>
        <input type='file' id='fileinput' accept="application/JSON">
        <input class="button-input" type='button' id='btnLoad' value='Compute from JSON file' onclick='loadFile();'>
        <input class="button-input" type="button" onclick="readFile(gene_path)" value="Compute NGS loaded file"/>
        <br>
    </form>

    <div class="cy-visu"></div>

    <script>

        var cy = cytoscape({
            container: document.getElementById('cy-visu')
        });
        var gene_path = "{% static 'metabo/geneTMP.txt' %}";

    </script>
    <div class="menu-visu">
        <label for="gene-select">Select a gene :</label><br>
        <select name="genes" id="gene-select"></select></br></br>
        <input type="button" onclick="neighborNode(document.getElementById('gene-select').value, 'cyan', 'green')"
               value="Gene and its Neighborhood"/></br></br>
        <input type="button" onclick="clear_coloration(list_node)" value="Clear Coloration"/></br></br>
        <input type="button" id="btnsave" value="Save as JSON" onclick="saveFile();">
    </div>
{% endblock %}