html {
    font-family: "Roboto", sans-serif;

}


#import_button {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;

    position: absolute;
    width: 203.21px;
    height: 31px;
    left: 198.79px;
    top: 447px;

    background: #22869C;
    border-radius: 15.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#rectangle_background {
    position: absolute;
    width: 1101px;
    height: 684px;
    left: 180px;
    top: 218px;

    background: #F5ECEC;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 32px;

}

#forms-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#forms-table td, #forms-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#forms-table tr:nth-child(even){background-color: #f2f2f2;}

#forms-table tr:hover {background-color: #ddd;}

#forms-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
