html {
    font-family: "Roboto", sans-serif;

}


#import_button {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;

    position: absolute;
    width: 203.21px;
    height: 31px;
    left: 198.79px;
    top: 447px;

    background: #22869C;
    border-radius: 15.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#rectangle_background {
    position: absolute;
    width: 1101px;
    height: 684px;
    left: 180px;
    top: 218px;

    background: #F5ECEC;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 32px;

}


