#rectangle_background {
    width: 54vw;
    margin-left: auto;
    margin-right: auto;
    background: #ebece9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #d1e0b3;
}

#forms-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#forms-table td {
    padding: 8px;
    border: 1px solid #d1e0b3;
    border-bottom-style: none;
    border-left-style: none;
}

#forms-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#forms-table tbody tr:hover {
    background-color: #d1e0b3;
}

#forms-table th {
    padding-top: 18px;
    padding-bottom: 16px;
    font-size: 20px;
    background-color: #7ab64a;
    color: white;
}

#first-head {
    border-top-left-radius: 15px;
}

#last-head {
    border-top-right-radius: 15px;
}

.buttons input, .buttons button {
    background-color: #d48e48;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.buttons input:hover, .buttons button:hover {
    background-color: #b54936;
    transition: transform .1s ease;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
}

.main-text a {
    color: #7ab64a;
}

.main-text a:hover {
    color: rgba(33, 33, 33, 0.89);
    transition: transform .5s ease;
}

#taxons {
    text-align: left;
    width: intrinsic; /* Safari/WebKit utilisent un nom non-standard */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid #d1e0b3;
}

#rectangle_background img {
    height: 200px;
}

#rectangle_background ul {
    padding: 0;
}

#rectangle_background ul li {
    display: block;
}