h2.toclick {
  display: inline-block;
  border:solid white 2px;
  background-color: #262626;
  width:250px;
  text-align: center;
  color:white;
}

h2.toclick:hover{
  color:#ff7465;
}

div.subdiv {
  margin-right: 15%;
  margin-left: 15%;
  margin-top:5%;
  background-color: #ff7465;
  text-align: center;
  border:solid 2px white;
  padding-bottom: 5%;
}

div.inputdiv {
  background-color: #262626;
  text-align: center;
  color:white;
  border:solid 2px white;
  width: 100%;
  padding-top:2%;
  padding-bottom: 2%;
}

a.ref {
  text-decoration: none;
  color: white;

}

a.ref:hover{
  color: #ff7465;
}

p{
  margin-left: 5%;
  text-align: left;
}

h4{
  margin-left: 5%;
  text-align: left;
}

.vertical-menu {
  width: 100%; /* Set a width if you like */
  margin: auto;
}

.vertical-menu a {
  background-color: #111; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ff7465; /* Dark grey background on mouse-over */
  color:black;
}

.vertical-menu a.active {
  background-color: white; /* Add a green color to the "active/current" link */
  color: black;
  border : solid 2px #262626;
}

#menu_1D {
	top : 50px;
}

#whatif {
	top : 30px;
	right : 140px;
  color: #262626;
}

div.div_canvas{
  background-color:#262626;
  border: 2px solid white;
  height: 200px;
  width: 99%;
  margin:auto;
}

a.vert-menu{
  background-color: #262626;
  color: white;
  border:solid 2px white;
  padding: 2%;
  width:75%;
  margin:auto;
}

p.pourcentage{
  text-align: center;
}

label{
  color: #262626;
}

body{
  background-color: black;
}
