{% extends "proteo/base.html" %}


{% block content %}
<body>
	{% load static %}
	<script src="{% static "proteo/p5.js" %}"></script>
  <script type="text/javascript">
  let one=document.getElementById("one");
  one.classList.add("activated");
  </script>
  <label for="whatif">Protein fasta file:</label>
		<input type="file" id="whatif">
		<div class="vertical-menu" id="menu_1D">
			<a href="#" class="active">Home</a>
		</div>
		<p id="demo"></p>
  <script src="{% static "proteo/visu_prot.js" %}"> </script>
</body>
{% endblock %}
