{% extends "proteo/base.html" %}


{% block content %}
<body style="background-color: #262626;">
  {% load static %}
  <div class="subdiv">
    <div style="text-align: left;margin:5%;">
      <h2 id="button_file" class="toclick"> File </h2>
      <h2 id="button_PDB" class="toclick"> View with PDB ID only </h2>
      <div id="FILE" style="display:none;">
        <h4> Choose an input possibility : </h4>
        <div id="PDB" class="inputdiv">
          <p> Use a PDB ID </p>
        </div>
        <div id="PDBMMCIF" class="inputdiv">
          <p> Use a PDB or mmCIF file</p>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static "proteo/3D.js"%}"></script>
</body>

{% endblock %}
