{% extends "base.html" %}

{% block title %}
    Proteomics
{% endblock %}

{% block style %}
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li><a href="{% url "img_home" %}">Imagerie</a></li>
            <li><a href="{% url "ngs_home" %}">NGS</a></li>
            <li><a href="{% url "mtb_home" %}">Métabolomique</a></li>
            <li class="activated"><a href="{% url "prt_home" %}">Protéomique</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li id="one"><a href="{% url "one_dimension" %}">1D</a></li>
            <li id="two"><a href="{% url "two_dimension" %}">2D</a></li>
            <li id="predthree"><a href="{% url "Predthree_dimension" %}">Prediction 3D</a></li>
            <li id="three"><a href="{% url "three_dimension" %}">Visu3D</a></li>
        </ul>
    </nav>
{% endblock %}
