<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
</head>
<body>
<header>
    <h1>Projet Génie Logiciel du Master de Bioinformatique</h1>
    <nav>
        <ul>
            <li><a href="{% url "img_home" %}">Imagerie</a></li>
            <li><a href="{% url "ngs_home" %}">NGS</a></li>
            <li><a href="{% url "mtb_home" %}">Métabolomique</a></li>
            <li><a href="{% url "prt_home" %}">Protéomique</a></li>
        </ul>
    </nav>
</header>
{% block content %}

{% endblock %}
<footer>{% comment %}TODO Footer {% endcomment %}</footer>
</body>
</html>