<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <header>
        <h1><a href="{% url "home" %}">MABEV - Multiples Analyses Bioinformatiques d'Espèces Végétales</a></h1>
    </header>
    
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        {% block content %}
        {% endblock %}
        
        {% block nav %}
        {% endblock %}
    </main>
        
    <footer>Projet réalisé par les étudiants du Master de Bioinformatique de Bordeaux, au sein de l'UE Génie Logiciel</footer>
</body>
</html>