<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PB - {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <header>
        <div  class="hover-menu">
            <h1><a href="{% url "home" %}">Plant Bioinformatics</a></h1>
        </div>
        {% block menu %}
        <ul class="menu">
            <li><a href="{% url "img_home" %}">Imaging</a>
            <li><a href="{% url "ngs_home" %}">NGS</a>
            <li><a href="{% url "mtb_home" %}">Metabolomics</a>
            <li><a href="{% url "prt_home" %}">Proteomics</a>
        {% endblock %}
        </ul>
    </header>
    
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    
        {% block content %}
        {% endblock %}
        
        {% block nav %}
        {% endblock %}
    </main>
        
    <footer>Project realised by students from Bordeaux's Master of Bioinformatics, within the Software Engineering course</footer>
</body>
</html>