{% extends "base.html" %}

{% block title %}
    Imaging
{% endblock %}

{% block title-page %} - Imaging{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "imagerie/imagerie.css" %}">
{% endblock %}

{% block content %}
{% endblock %}

{% block info-authors %}
Theo GAUVRIT - Axel POLIN<br>
Amelie GRUEL - Eliot RAGUENEAU<br>
Jeremie PAJOLE - Melissa SADOUKI
{% endblock %}

{% block info-goal %}
    This application aims to recognize the specie from an input image. This recognition uses methods of Deep Learning and more precisely the method of Convolutional Neural Network or CNN. It imitates the human brain in order to give a species from a simple picture of a plant.
{% endblock %}