{% extends "base.html" %}

{% block title %}
    Imagerie
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "imagerie/imagerie.css" %}">
{% endblock %}

{% block nav %}
    <nav>
        <ul>
            <li class="activated"><a href="{% url "img_home" %}">Imagerie</a></li>
            <li><a href="{% url "ngs_home" %}">NGS</a></li>
            <li><a href="{% url "mtb_home" %}">Métabolomique</a></li>
            <li><a href="{% url "prt_home" %}">Protéomique</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}