{% extends "imagerie/base.html" %}
{% block title %}Imaging{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "imagerie/imagerie.css" %}">
    <script src="{% static "imagerie/import_image_form.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="import">
        <h2>Import photography</h2>
        {% if envoi %}Your image has been uploaded !{% endif %}

        <div id="rectangle_background">
            <form method="post" enctype="multipart/form-data" action="{% url "img-home" %}">
                {% csrf_token %}
                {{ formset.management_form }}
                <table id="forms-table">
                    <thead>
                    <tr>
                        {% for field in formset.empty_form %}
                            <th>{{ field.label }}</th>
                        {% endfor %}

                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody id="forms">
                    {% for form in formset %}
                        <tr id="tr-id_form-{{ forloop.counter0 }}">
                            {% for field in form %}
                                <td>
                                    <label for="{{ field.id_for_label }}"></label> {{ field }}
                                </td>
                            {% endfor %}
                            <td>
                                <button id="remove-id_form-0" type="button" class="remove_btn">Remove</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <button type="submit" value="Submit">Upload</button>
            <input type="button" value="Add {{ row_name }}" id="add_more">

            <table style="display:none">
                <tbody id="empty_form">
                <tr id="tr-id_form-__prefix__">
                    {% for field in formset.empty_form %}
                        <td>
                            <label for="{{ field.id_for_label }}"></label> {{ field }}
                        </td>
                    {% endfor %}
                    <td>
                        <button id="remove-id_form-__prefix__" type="button" class="remove_btn">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}







